---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
import SectionCont from "../components/SectionCont.astro";
import Glasses from "../components/icons/Glasses.astro";
import CodingIcon from "../components/icons/Coding.astro";
import Projects from "../components/Projects.astro";
import TitleSection from "../components/TitleSection.astro";
---

<Layout
  title="Potffolio de Cesar Aguilar - Desarrollador Front End"
  description="Cesar Aguilar es un desarrollador Front End con mas de 3 años de experiencia."
>
  <main class="px-4">
    <SectionCont>
      <Hero>
      </slot>
  </Hero>
</SectionCont>
<div class="space-y-24">

    <SectionCont id="experience">
      <TitleSection>
     <Glasses class="size-8"/>
      Experiencia
</TitleSection>
      <Experience />
    </SectionCont>

    <SectionCont id="projects">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
		<CodingIcon class="size-4 md:w-6 h-6" />
		Projects
	</h2>
      <Projects />
    </SectionCont>
  </div>
  </main>
</Layout>
